<?xml version="1.0" ?>
<launch>

    <arg name="ns" default="/"/>
    <arg name="point_cloud_topic" default="/ouster/points" doc="Point cloud topic to subscribe to" />
    <arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
    <arg name="nodelet_manager" default="$(optenv NODELET_MANAGER core_nodelet_manager)" />
    <arg name="odom_topic"      default="/Odometry"/>

    <arg name="source_frame" default="huksy/base_link"/>
    <arg name="target_frame" default="world"/>

    <![CDATA[
    <!--
          FOR DEBUGGING: add to node tag: launch-prefix="gnome-terminal -x gdb --args"
          additionally add <param name="/bond_disable_heartbeat_timeout" value="true" /> to debug nodelets
          launch-prefix="valgrind --leak-check=yes"
    -->
    ]]>

    <remap from="/sensors/velodyne_points" to="$(arg point_cloud_topic)" />
    <remap from="/localization/odometry/filtered_map" to="$(arg odom_topic)" />


    <!-- start standalone node -->
    <node unless="$(arg use_nodelets)"
          pkg="groundgrid"
          name="groundgrid"
          type="groundgrid_node"
          >
          <param name="source_frame" value="$(arg source_frame)"/>
          <param name="target_frame" value="$(arg target_frame)"/>
    </node>

    <!-- start nodelet (nodelet manager needed, see below) -->
    <node if="$(arg use_nodelets)"
          pkg="nodelet"
          type="nodelet"
          name="groundgrid"
          args="load groundgrid/Nodelet $(arg nodelet_manager)"
    >
        <param name="source_frame" value="$(arg source_frame)"/>
        <param name="target_frame" value="$(arg target_frame)"/>

    </node>

    <!-- start nodelet manager, if not already started from outside of this launch file -->
    <node if="$(arg use_nodelets)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg nodelet_manager)"
        args="manager"
    >
        <param name="num_worker_threads" value="64" />

        <param name="source_frame" value="$(arg source_frame)"/>
        <param name="target_frame" value="$(arg target_frame)"/>

    </node>

    <node type="obstacle_pub_node" pkg="groundgrid" name="obstacle_pub_node" output="screen">
        <param name="ns" value="$(arg ns)"/>
    </node>

</launch>
